<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
  <title>Oriane's Bad Blog</title>
</head>

<header>
    <nav class="navbar navbar-expand-sm " aria-label="Third navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> Oriane's Bad Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse show" id="navbarsExample03" >
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home 🏠</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog" >Blog articles 📰</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/authent"> Post ! 📩</a>
              </li>
              
            </ul>
          </div>
        </div>


  </nav>
</header>

<main>
